form {
  border: 1px solid lightgray;
  border-radius: 4px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.button-div {
  text-align: center;
}

button {
  width: 95%;
  margin: 0px 0px 10px 0px;
  background-color: rgb(220, 223, 139);
  line-height: 20px;
  font-weight: bold;
}

output.message {
  display: block;
  text-align: center;
  margin: 20px 10px 10px 10px;
  color: red;
}