@if (!loading) {
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
    @for (desc of cardDescriptions; track desc) {
      <div class="rounded-xl bg-gray-50 p-2 shadow-sm">
        <div class="flex p-4">
          <span class="material-symbols-outlined h-5 w-5 text-gray-700">
            {{ iconName(desc.type) }}
          </span>
          <h3 class="ml-2 text-sm font-medium">{{ desc.title }}</h3>
        </div>
        <p class="truncate rounded-xl bg-white px-4 py-8 text-center text-2xl">
          {{ desc.value }}
        </p>
      </div>
    }
  </div>
}
@if (loading) {
  <app-skeleton type="CardsSkeleton"/>
}