a {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 0.1px solid black;
    text-decoration: none;
    border-radius: 3px;
}

a:hover {
    background-color: lightgray;
}

.editor {
    border: 2px solid gray;
    padding: 10px;
}

.centered {
    text-align: center;
    margin-top: 40px;
}

.top-container {
  width: 90%;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 20px;
}

.popup-button {
  margin-left: 20px;
}

input[readonly] {
  background-color: rgb(248, 244, 244);
}