<div class="container mt-3">
    <h3>Angular Demos</h3>
    <div>
      <a [routerLink]="['/hello']">
        <p>Hello World Component</p>
      </a>
      <a [routerLink]="['/component']">
          <p>Simple component showing square numbers</p>
      </a>
      <a [routerLink]="['/students']">
          <p>Managing Students: More complex component with individual processing of table data</p>
      </a>
      <a [routerLink]="['/login']">
          <p>Login: Forms Demo</p>
      </a>
      <a [routerLink]="['/service']">
          <p>Service-Demo: Loading photos from REST server via http client</p>
      </a>
      <a [routerLink]="['/module']">
          <p>Module Demo</p>
      </a>
      <a [routerLink]="['/collection']">
          <p>Page with multiple components</p>
      </a>
    </div>
</div>