.small-table {
    width: 30%;
}
.display-label {
    margin-top: 20px;
}
form {
    margin-top:  20px;
}
.top-container {
    margin: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 500px;
}
.centered {
    text-align: center;
    margin-top: 20px;
}
.back-button {
  margin-left: 20px;
}