<div class="title">
  <h1>{{ 'demo.title' | translate }}</h1>
</div>
<div>
  <h2>{{ 'demo.simple.heading' | translate }}</h2>
  <p>{{ 'demo.simple.text-with-pipe' | translate }}</p>
  <p [translate]="'demo.simple.text-as-attribute'"></p>
  <p translate>demo.simple.text-as-content</p>
</div>

<div>
  <h2>{{ 'demo.parameters.heading' | translate }}</h2>
  <p>{{ 'demo.parameters.text-with-pipe' | translate:{correctNumber} }}</p>
</div>

<div class="title">
  <h1>{{ 'demo.title' | translate }}</h1>
  <span>{{ 'demo.switch' | translate }}: </span>
  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('de')">de</button>
  <button (click)="useLanguage('de')">hi</button>
</div>
