/* styles for Todo List */
div.todo-list {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
}

input, button {
  margin-left: 10px;
}

button.done {
  background-color: lightgreen;
  border-radius: 3px;
}

.normal {
  border: 1px solid black;
}

.error {
  border: 1px solid red;
}